    /* General styles */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    nav {
        background-color: #333;
        color: white;
        padding: 1em 0;
    }
    
    nav .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    nav .logo-container {
        flex: 1;
    }
    
    nav .logo {
        height: 100px; /* Ajustez la hauteur selon vos besoins */
        vertical-align: middle;
    }
    
    nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        margin: 0;
        flex: 2;
        justify-content: center;
    }
    
    nav ul li {
        margin: 0 1em;
        position: relative;
    }
    
    nav ul li a {
        color: white;
        text-decoration: none;
        padding: 0.5em 1em;
        display: block;
    }
    
    /* Dropdown styles */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #333;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-content a:hover {
        background-color: #575757;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        top: 1em;
        right: 1em;
    }
    
    .hamburger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
    }
    
    /* Media queries pour les petits écrans */
    @media (max-width: 768px) {
        nav .container {
            flex-direction: column;
        }
    
        nav ul {
            flex-direction: column;
            display: none;
            width: 100%;
            text-align: center;
        }
    
        nav ul li {
            margin: 0;
        }
    
        .hamburger {
            display: flex;
        }
    
        nav ul.active {
            display: flex;
        }
        /* Centrer le contenu de la dropdown en version mobile */
        .dropdown-content {
            position: static;
            width: 100%;
            text-align: center;
        }
    
        .dropdown-content a {
            display: block;
            padding: 10px;
            text-align: center;
        }
    }